@font-face {
  font-family: 'Poppins-Bold';
  src: url('Poppins-Bold.eot');
  src: url('Poppins-Bold.eot?#iefix') format('embedded-opentype'),
       url('Poppins-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins.svg#Poppins') format('svg'),
       url('Poppins.ttf') format('truetype'),
       url('Poppins.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

