%footer#Contact
  .container
    .footer-link
      %ul
        %li
          %a{"data-scroll" => "", :href => "#home"} Home
        %li
          %a{"data-scroll" => "", :href => "#Categories"} Categories
        %li
          %a{"data-scroll" => "", :href => "#Franchisee"} Be A Franchisee
        %li
          %a{"data-scroll" => "", :href => "#Social"} Social Media
        %li
          %a{"data-scroll" => "", :href => "#Contact"} Contact Us
    .contact-info
      %p
        Shop No. 14, Sai Swar Cooperative Housing Society, Sector 2, Kharghar,
        %br/
        Navi Mumbai, Maharashtra, India 410210
        %br/
        Mobile Number : 086919 16666
    .copyright
      %p 2021 ©MetroChai. All rights reserved.

:css  
  #Contact{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }