%header#header.header
  .burger-menu
    %ul.burger-menu-list
      %ul
        %li
          %a{"data-scroll" => "", :href => "#home"} Home
        %li
          %a{"data-scroll" => "", :href => "#Categories"} Categories
        %li
          %a{"data-scroll" => "", :href => "#Franchisee"} Be A Franchisee
        %li
          %a{"data-scroll" => "", :href => "#Social"} Social Media
        %li
          %a{"data-scroll" => "", :href => "#Contact"} Contact Us
  .mob-menu-btn
    %span
    %span
    %span
    %span
  .container
    .headerWrap
      %h1.logo
        %a{:href => "index.html"}
          %img{:src => "/assets/logo.png"}/
      .main-menu
        %ul
          %li
            %a{"data-scroll" => "", :href => "#home"} Home
          %li
            %a{"data-scroll" => "", :href => "#Categories"} Categories
          %li
            %a{"data-scroll" => "", :href => "#Franchisee"} Be A Franchisee
          %li
            %a{"data-scroll" => "", :href => "#Social"} Social Media
          %li
            %a{"data-scroll" => "", :href => "#Contact"} Contact Us
      .search-wrap
        %a{:href => ""}
          %img{:alt => "", :src => "/assets/search-icon.png"}/